---
import Video from "../components/Video.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Premios ESLAND 2024 - Celebrando lo mejor del streaming y los creadores de cotenido"
  description="Descubre a los mejores creadores de contenido de España, Andorra y Latinoamerica"
>
  <main>
    <Video />
  </main>
</Layout>

<style></style>
